/Water Bodies Dataset
/Water-Bodies-Dataset
/checkpoints
/datasets
/evaluation_results
/model/__pycache__
/runs
/utils/__pycache__
/utils/__pycache__
/utils/__pycache__
/evaluation/evaluation_results_attention_17_06
/evaluation/evaluation_results_attention_18_06
/evaluation/evaluation_results_baseline U-Net architecture_15_06
/evaluation/evaluation_results_residual_blocks_dropout_16_06
/models/__pycache__
/src/preprocessing/__pycache__
/utils/__pycache__
